.stations {
  height: 400px;
  overflow-y: scroll;
  color: #9ca0ac;
  background-color: #30303c;
}

/* .stations::-webkit-scrollbar {
  width: 0px;
  background: transparent;
} */

.stations-list {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
