.stations-list-item {
  height: 54px;
  display: flex;
  flex-direction: column;
}

.stations-list-item__details:focus {
  color: #e9ae62;
}

.stations-list-item__details:hover {
  color: lightgray;
}

.stations-list-item--active {
  height: 230px;
  flex-direction: column-reverse;
}

.stations-list-item__details {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px currentColor solid;
  margin: 20px 20px 0 20px;
  padding-bottom: 10px;
  cursor: pointer;
}

.stations-list-item__details-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.stations-list-item:last-child > .stations-list-item__details {
  border-bottom: none;
}

.stations-list-item__details-freq {
  font-weight: bold;
}
