.controls {
  display: none;
}

.controls--active {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.controls-button {
  transform: scale(0.5);
  transition: 0.1s transform ease-in;
}

.controls-button:focus,
.controls-button:hover {
  transform: scale(0.6);
}

.controls-station-logo {
  border-radius: 50%;
  border: 2px solid currentColor;
}
