.controls {
  display: none;
}

.controls--active {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.controls-button {
  transform: scale(0.5);
}

.controls-station-logo {
  border-radius: 50%;
  border: 2px solid currentColor;
}
