.stations-list-item {
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.stations-list-item--active {
  height: 240px;
  flex-direction: column-reverse;
}

.stations-list-item__details {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  border-bottom: 1px currentColor solid;
  margin: 20px;
  padding-bottom: 10px;
}

.stations-list-item__details--bold {
  font-weight: bold;
}
