.stations-list-item {
  height: 20px;
  overflow: hidden;
}

.stations-list-item--active {
  height: 200px;
}

.stations-list-item__details {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px orange solid;
}
